__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

data/raw_videos/*
data/processed/*
data/annotations/*
data/outputs/*
outputs/frame_level/*
outputs/shot_level/*
outputs/annotated_videos/*
outputs/review_frames/*
models/ball_detector/*
models/pose_detector/*

!.gitkeep

